# Xcode
[Bb]uild/**
BranchMonsterFactory.xcodeproj/xcuserdata
*.xccheckout
*.xcuserdatad
*.DS_Store

# CocoaPods
Pods
Podfile.lock

# ipa file
*.ipa
Staging-Branchster/BranchMonsterFactory.plist
Staging-Branchster/index.html
