<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.developer.associated-domains</key>
	<array>
		<string>applinks:email-exacttarget.givemeulinksorgivemedeath.com</string>
		<string>applinks:email-exacttarget.branch.rocks</string>
		<string>applinks:email-exacttarget.givemeulinksorgivemedeath.com</string>
		<string>applinks:email-responsys.givemeulinksorgivemedeath.com</string>
		<string>applinks:email-sailthru.givemeulinksorgivemedeath.com</string>
		<string>applinks:email-exacttarget.branch.rocks</string>
		<string>applinks:email-responsys.branch.rocks</string>
		<string>applinks:email-sailthru.branch.rocks
applinks:email-responsys.branch.rocks
applinks:email-exacttarget.branch.rocks
applinks:email-sailthru.givemeulinksorgivemedeath.com
applinks:email-responsys.givemeulinksorgivemedeath.com
applinks:email-exacttarget.givemeulinksorgivemedeath.com</string>
		<string>applinks:bnc.lt</string>
	</array>
</dict>
</plist>
