<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aps-environment</key>
	<string>development</string>
	<key>com.apple.developer.associated-domains</key>
	<array>
		<string>applinks:email-04.givemeulinksorgivemedeath.com</string>
		<string>applinks:email-04.branch.rocks</string>
		<string>applinks:email-03.givemeulinksorgivemedeath.com</string>
		<string>applinks:email-03.branch.rocks</string>
		<string>applinks:email-02.givemeulinksorgivemedeath.com</string>
		<string>applinks:email-02.branch.rocks</string>
		<string>applinks:email-01.givemeulinksorgivemedeath.com</string>
		<string>applinks:email-01.branch.rocks</string>
		<string>applinks:email-mailchimp.givemeulinksorgivemedeath.com</string>
		<string>applinks:email-mailchimp.branch.rocks</string>
		<string>applinks:email-sendgrid.givemeulinksorgivemedeath.com</string>
		<string>applinks:email-sendgrid.branch.rocks</string>
		<string>applinks:email-exacttarget.givemeulinksorgivemedeath.com</string>
		<string>applinks:email-exacttarget.branch.rocks</string>
		<string>applinks:email-exacttarget.givemeulinksorgivemedeath.com</string>
		<string>applinks:email-responsys.givemeulinksorgivemedeath.com</string>
		<string>applinks:email-sailthru.givemeulinksorgivemedeath.com</string>
		<string>applinks:email-exacttarget.branch.rocks</string>
		<string>applinks:email-responsys.branch.rocks</string>
		<string>applinks:email-sailthru.branch.rocks</string>
		<string>applinks:email-responsys.branch.rocks</string>
		<string>applinks:email-exacttarget.branch.rocks</string>
		<string>applinks:email-sailthru.givemeulinksorgivemedeath.com</string>
		<string>applinks:email-responsys.givemeulinksorgivemedeath.com</string>
		<string>applinks:email-exacttarget.givemeulinksorgivemedeath.com</string>
		<string>applinks:click.s1.qa1.sfmctest.com</string>
		<string>applinks:email-epsilon.branch.rocks</string>
		<string>applinks:email-postup.branch.rocks</string>
		<string>applinks:email-bronto.branch.rocks</string>
		<string>applinks:email-mailjet.branch.rocks</string>
		<string>applinks:email-mandrill.branch.rocks</string>
		<string>applinks:email-sp.branch.rocks</string>
		<string>applinks:email-cm.branch.rocks</string>
		<string>applinks:email-campmon.branch.rocks</string>
		<string>applinks:email-cm.branch.rocks</string>
		<string>applinks:amazon-email.branch.rocks</string>
		<string>applinks:email-iterable.branch.rocks</string>
		<string>applinks:c47b.app.link</string>
		<string>applinks:c47b-alternate.app.link</string>
	</array>
	<key>keychain-access-groups</key>
	<array>
		<string>$(AppIdentifierPrefix)io.branch-labs.Branchster</string>
	</array>
</dict>
</plist>
