<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BranchMonsterFactory.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>0D866F0B4CD82A45A4B0900ADD5C90905965C05F</string>
				<key>dateExpires</key>
				<string>2/23/20</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0D866F0B4CD82A45A4B0900ADD5C90905965C05F</string>
						<key>dateExpires</key>
						<string>2/23/20</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Bolts.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3ZNSRC9M83</string>
						<key>name</key>
						<string>Branch Metrics, Inc</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0D866F0B4CD82A45A4B0900ADD5C90905965C05F</string>
						<key>dateExpires</key>
						<string>2/23/20</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Branch.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3ZNSRC9M83</string>
						<key>name</key>
						<string>Branch Metrics, Inc</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0D866F0B4CD82A45A4B0900ADD5C90905965C05F</string>
						<key>dateExpires</key>
						<string>2/23/20</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FBSDKCoreKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3ZNSRC9M83</string>
						<key>name</key>
						<string>Branch Metrics, Inc</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>3ZNSRC9M83.io.branch-labs.Branchster</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.associated-domains</key>
				<array>
					<string>applinks:email-04.givemeulinksorgivemedeath.com</string>
					<string>applinks:email-04.branch.rocks</string>
					<string>applinks:email-03.givemeulinksorgivemedeath.com</string>
					<string>applinks:email-03.branch.rocks</string>
					<string>applinks:email-02.givemeulinksorgivemedeath.com</string>
					<string>applinks:email-02.branch.rocks</string>
					<string>applinks:email-01.givemeulinksorgivemedeath.com</string>
					<string>applinks:email-01.branch.rocks</string>
					<string>applinks:email-mailchimp.givemeulinksorgivemedeath.com</string>
					<string>applinks:email-mailchimp.branch.rocks</string>
					<string>applinks:email-sendgrid.givemeulinksorgivemedeath.com</string>
					<string>applinks:email-sendgrid.branch.rocks</string>
					<string>applinks:email-exacttarget.givemeulinksorgivemedeath.com</string>
					<string>applinks:email-exacttarget.branch.rocks</string>
					<string>applinks:email-exacttarget.givemeulinksorgivemedeath.com</string>
					<string>applinks:email-responsys.givemeulinksorgivemedeath.com</string>
					<string>applinks:email-sailthru.givemeulinksorgivemedeath.com</string>
					<string>applinks:email-exacttarget.branch.rocks</string>
					<string>applinks:email-responsys.branch.rocks</string>
					<string>applinks:email-sailthru.branch.rocks</string>
					<string>applinks:email-responsys.branch.rocks</string>
					<string>applinks:email-exacttarget.branch.rocks</string>
					<string>applinks:email-sailthru.givemeulinksorgivemedeath.com</string>
					<string>applinks:email-responsys.givemeulinksorgivemedeath.com</string>
					<string>applinks:email-exacttarget.givemeulinksorgivemedeath.com</string>
					<string>applinks:click.s1.qa1.sfmctest.com</string>
					<string>applinks:email-epsilon.branch.rocks</string>
					<string>applinks:email-postup.branch.rocks</string>
					<string>applinks:email-bronto.branch.rocks</string>
					<string>applinks:email-mailjet.branch.rocks</string>
					<string>applinks:email-mandrill.branch.rocks</string>
					<string>applinks:email-sp.branch.rocks</string>
					<string>applinks:email-cm.branch.rocks</string>
					<string>applinks:email-campmon.branch.rocks</string>
					<string>applinks:email-cm.branch.rocks</string>
					<string>applinks:amazon-email.branch.rocks</string>
					<string>applinks:email-iterable.branch.rocks</string>
					<string>applinks:c47b.app.link</string>
					<string>applinks:c47b-alternate.app.link</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>3ZNSRC9M83</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Branchsters.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>66408611-01bb-4678-96a5-804f5611e671</string>
				<key>name</key>
				<string>XC iOS: io.branch-labs.Branchster</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>3ZNSRC9M83</string>
				<key>name</key>
				<string>Branch Metrics, Inc</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
